@media (min-width: 721px) and (max-width: 1000px)  {
    
}

@media (max-width: 720px)  {
    /* #logo{
        width: 100px;
    } */
    #entrar {
        font: 10px;
        text-align: center;
    }
    nav .gap-5{
        font-size: 15px;
        gap: 15px;
        padding: 5px;
    }
}