@media (max-width: 720px)  {
    #motivation_card  h3{
        font-size: 0.9rem;
        text-align: start;
    }
    #motivation_card span {
        padding-top: 50px;
        font-size: 0.9rem;
    }

}