@media (max-width: 720px) {
    #cards{
        flex-direction: column;
        
    }
    #profile h3{
        font-size: 0.7rem;
        text-align: start;
    }
    main{
        width: 100%;
        flex-direction: column;
        
    }
    aside{
        width: 100%;
        flex-direction: column;
        
    }
    
    #find_company img{
        width: 2vh;
    }

    #results select{
        font-size: 0.9rem;
    }

    #order{
        width: 50%;
    }

}