@media (max-width: 720px)  {
    #cards{
        display: flex;
        flex-direction: column;
    }
    main{
        width: 100%;
        flex-direction: column;
    }
    
    
    #relatorio span{
        font-size: 1rem;
    }
    #buttom_relatorio{
        width: 30vw;
        height:20vh ;
        flex-direction: column;
        
    }

}